# Solutions

1. [Selecting Subsets of Data from DataFrames with just the brackets](#1.-Selecting-Subsets-of-Data-from-DataFrames-with-just-the-brackets)
1. [Selecting Subsets of Data from DataFrames with `loc`](#2.-Selecting-Subsets-of-Data-from-DataFrames-with-loc)
1. [Selecting Subsets of Data from DataFrames with `iloc`](#3.-Selecting-Subsets-of-Data-from-DataFrames-with-iloc)
1. [Selecting Subsets of Data from a Series](#4.-Selecting-Subsets-of-Data-from-a-Series)
1. [Boolean Selection Single Conditions](#5.-Boolean-Selection-Single-Conditions)
1. [Boolean Selection Multiple Conditions](#6.-Boolean-Selection-Multiple-Conditions)
1. [Boolean Selection More](#7.-Boolean-Selection-More)
1. [Miscellaneous Subset Selection](#8.-Miscellaneous-Subset-Selection)

## 1. Selecting Subsets of Data from DataFrames with just the brackets

In [1]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')

### Exercise 1
<span  style="color:green; font-size:16px">Select the column with the director's name as a Series</span>

In [2]:
movie['director_name'].head(3)

title
Avatar                                       James Cameron
Pirates of the Caribbean: At World's End    Gore Verbinski
Spectre                                         Sam Mendes
Name: director_name, dtype: object

### Exercise 2
<span  style="color:green; font-size:16px">Select the column with the director's name and number of Facebook likes.</span>

In [3]:
movie[['director_name', 'director_fb']].head(3)

                                           director_name  director_fb
title
Avatar                                     James Cameron          0.0
Pirates of the Caribbean: At World's End  Gore Verbinski        563.0
Spectre                                       Sam Mendes          0.0

### Exercise 3
<span  style="color:green; font-size:16px">Select a single column as a DataFrame and not a Series</span>

In [4]:
# make a one item list
col = ['director_name']
movie[col].head(3)

                                           director_name
title
Avatar                                     James Cameron
Pirates of the Caribbean: At World's End  Gore Verbinski
Spectre                                       Sam Mendes

## 2. Selecting Subsets of Data from DataFrames with `loc`

### Exercise 1
<span  style="color:green; font-size:16px">Read in the movie dataset and set the title column as the index. Select all columns for the movie 'The Dark Knight Rises'.</span>

In [5]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

In [6]:
movie.loc['The Dark Knight Rises']

year                                                            2012
color                                                          Color
content_rating                                                 PG-13
duration                                                         164
director_name                                      Christopher Nolan
director_fb                                                    22000
actor1                                                     Tom Hardy
actor1_fb                                                      27000
actor2                                                Christian Bale
actor2_fb                                                      23000
actor3                                          Joseph Gordon-Levitt
actor3_fb                                                      23000
gross                                                    4.48131e+08
genres                                               Action|Thriller
num_reviews                                                      813
num_voted_users                                              1144337
plot_keywords      deception|imprisonment|lawlessness|police offi...
language                                                     English
country                                                          USA
budget                                                       2.5e+08
imdb_score                                                       8.5
Name: The Dark Knight Rises, dtype: object

### Exercise 2
<span  style="color:green; font-size:16px">Select all columns for the movies 'Tangled' and 'Avatar'.</span>

In [7]:
rows = ['Tangled', 'Avatar']
movie.loc[rows]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9

Alternatively, use a colon.

In [8]:
# movie.loc[rows, :]

### Exercise 3
<span  style="color:green; font-size:16px">What year was 'Tangled' and 'Avatar' made and what was their IMBD scores?</span>

In [9]:
movie.loc[['Tangled', 'Avatar'], ['year', 'imdb_score']]

           year  imdb_score
title
Tangled  2010.0         7.8
Avatar   2009.0         7.9

### Exercise 4
<span  style="color:green; font-size:16px">Can you tell what the data type of the `year` column is by just looking at its values?</span>

Yes, because it has a decimal value it must be a float. Integers do not have decimals

### Exercise 5
<span  style="color:green; font-size:16px">Use a single method to output the data type and number of non-missing values of `year`. Is it missing any?</span>

In [10]:
# yes, its missing many values. 4432 non-missing vs 4916 total
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4916 entries, Avatar to My Date with Drew
Data columns (total 21 columns):
year               4810 non-null float64
color              4897 non-null object
content_rating     4616 non-null object
duration           4901 non-null float64
director_name      4814 non-null object
director_fb        4814 non-null float64
actor1             4909 non-null object
actor1_fb          4909 non-null float64
actor2             4903 non-null object
actor2_fb          4903 non-null float64
actor3             4893 non-null object
actor3_fb          4893 non-null float64
gross              4054 non-null float64
genres             4916 non-null object
num_reviews        4867 non-null float64
num_voted_users    4916 non-null int64
plot_keywords      4764 non-null object
language           4904 non-null object
country            4911 non-null object
budget             4432 non-null float64
imdb_score         4916 non-null float64
dtypes: float64(10), int64(1), object(10)
memory usage: 1004.9+ KB

### Exercise 6
<span  style="color:green; font-size:16px">Select every 300th movie between 'Tangled' and 'Forrest Gump'. Why doesn't 'Forrest Gump' appear in the results?</span>

In [11]:
# Forrest Gump is not a multiple of 100 away from Tangled
movie.loc['Tangled':'Forrest Gump':300]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Cloud Atlas,2012.0,Color,R,172.0,Tom Tykwer,670.0,Tom Hanks,15000.0,Jim Sturgess,5000.0,...,1000.0,27098580.0,Drama|Sci-Fi,511.0,284825,composer|future|letter|nonlinear timeline|nurs...,English,Germany,102000000.0,7.5
Doom,2005.0,Color,R,113.0,Andrzej Bartkowiak,43.0,Dwayne Johnson,12000.0,Ben Daniels,585.0,...,452.0,28031250.0,Action|Adventure|Horror|Sci-Fi,237.0,88146,commando unit|extra chromosome|first person sh...,English,UK,60000000.0,5.2

## 3. Selecting Subsets of Data from DataFrames with `iloc`

### Exercise 1
<span  style="color:green; font-size:16px">Select the rows with integer location 10, 5, and 1</span>

In [12]:
movie.iloc[[10, 5, 1]]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Batman v Superman: Dawn of Justice,2016.0,Color,PG-13,183.0,Zack Snyder,0.0,Henry Cavill,15000.0,Lauren Cohan,4000.0,...,2000.0,330249062.0,Action|Adventure|Sci-Fi,673.0,371639,based on comic book|batman|sequel to a reboot|...,English,USA,250000000.0,6.9
John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,...,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1

### Exercise 2
<span  style="color:green; font-size:16px">Select the columns with integer location 10, 5, and 1</span>

In [13]:
movie.iloc[:, [10, 5, 1]].head(3)

                                                    actor3  director_fb  color
title
Avatar                                           Wes Studi          0.0  Color
Pirates of the Caribbean: At World's End    Jack Davenport        563.0  Color
Spectre                                   Stephanie Sigman          0.0  Color

### Exercise 3
<span  style="color:green; font-size:16px">Select rows with integer location 100 to 104 along with the column integer location 5.</span>

In [14]:
movie.iloc[100:105, 5]

title
The Fast and the Furious                   357.0
The Curious Case of Benjamin Button      21000.0
X-Men: First Class                         905.0
The Hunger Games: Mockingjay - Part 2      508.0
The Sorcerer's Apprentice                  226.0
Name: director_fb, dtype: float64

## 4. Selecting Subsets of Data from a Series

### Exercise 1
<span  style="color:green; font-size:16px">Read in the bikes dataset. We will be using it for the next few questions. Select the wind speed column as a Series and assign it to a variable and output the head. What kind of index does this Series have?</span>

In [15]:
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.90096,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.89993,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.88132,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy

In [16]:
wind = bikes['wind_speed']
wind.head(3)

0    12.7
1     6.9
2    16.1
Name: wind_speed, dtype: float64

This index is a **`RangeIndex`**

In [17]:
wind.index

RangeIndex(start=0, stop=50089, step=1)

In [18]:
wind.loc[4:10]

4     17.3
5     17.3
6     15.0
7      5.8
8      0.0
9     12.7
10     9.2
Name: wind_speed, dtype: float64

### Exercise 2
<span  style="color:green; font-size:16px">From the wind speed Series, select the integer locations 4 through, but not including 10</span>

In [19]:
wind.iloc[4:10]

4    17.3
5    17.3
6    15.0
7     5.8
8     0.0
9    12.7
Name: wind_speed, dtype: float64

### Exercise 3
<span  style="color:green; font-size:16px">Copy and paste your answer to Exercise 2 below but use `loc` instead. Do you get the same result? Why not?</span>

In [20]:
wind.loc[4:10]

4     17.3
5     17.3
6     15.0
7      5.8
8      0.0
9     12.7
10     9.2
Name: wind_speed, dtype: float64

This is tricky - the index in this case contains integers and not strings. So the labels themselves are also integers and happen to be the same integers corresponding to integer location. The reason `.iloc` and `.loc` produce different results is that `.loc` always includes the last value when slicing.

### Exercise 4
<span  style="color:green; font-size:16px">Read in the movie dataset and set the index to be the title. Select `actor1` as a Series. Who is the `actor1` for 'My Big Fat Greek Wedding'?</span>

In [21]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
actor1 = movie['actor1']

In [22]:
actor1.loc['My Big Fat Greek Wedding']

'Nia Vardalos'

### Exercise 5
<span  style="color:green; font-size:16px">Find `actor1` for your favorite two movies?</span>

In [23]:
actor1.loc[['Titanic', 'Blood Diamond']]

title
Titanic          Leonardo DiCaprio
Blood Diamond    Leonardo DiCaprio
Name: actor1, dtype: object

### Exercise 6
<span  style="color:green; font-size:16px">Select the last 3 values from `actor1` using two different ways?</span>

In [24]:
actor1.iloc[-3:]

title
A Plague So Pleasant    Eva Boehnke
Shanghai Calling          Alan Ruck
My Date with Drew       John August
Name: actor1, dtype: object

In [25]:
actor1.tail(3)

title
A Plague So Pleasant    Eva Boehnke
Shanghai Calling          Alan Ruck
My Date with Drew       John August
Name: actor1, dtype: object

## 5. Boolean Selection Single Conditions

In [26]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 1
<span  style="color:green; font-size:16px">Read in the movie dataset and set the index to be the title. Select all movies that have Tom Hanks as `actor1`. How many of these movies has he starred in?</span>

In [27]:
filt = movie['actor1'] == 'Tom Hanks'
hanks_movies = movie[filt]
hanks_movies.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Toy Story 3,2010.0,Color,G,103.0,Lee Unkrich,125.0,Tom Hanks,15000.0,John Ratzenberger,1000.0,...,721.0,414984497.0,Adventure|Animation|Comedy|Family|Fantasy,453.0,544884,college|day care|escape|teddy bear|toy,English,USA,200000000.0,8.3
The Polar Express,2004.0,Color,G,100.0,Robert Zemeckis,0.0,Tom Hanks,15000.0,Eddie Deezen,726.0,...,267.0,665426.0,Adventure|Animation|Family|Fantasy,188.0,120798,boy|christmas|christmas eve|north pole|train,English,USA,165000000.0,6.6
Angels & Demons,2009.0,Color,PG-13,146.0,Ron Howard,2000.0,Tom Hanks,15000.0,Ayelet Zurer,745.0,...,294.0,133375846.0,Mystery|Thriller,298.0,207839,conclave|illuminati|murder|reference to bernin...,English,USA,150000000.0,6.7

He's starred in 24 movies

In [28]:
hanks_movies.shape

(24, 21)

### Exercise 2
<span  style="color:green; font-size:16px">Select movies with an IMDB score greater than 9.</span>

In [29]:
filt = movie['imdb_score'] > 9
movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Shawshank Redemption,1994.0,Color,R,142.0,Frank Darabont,0.0,Morgan Freeman,11000.0,Jeffrey DeMunn,745.0,...,461.0,28341469.0,Crime|Drama,199.0,1689764,escape from prison|first person narration|pris...,English,USA,25000000.0,9.3
Towering Inferno,NaN,Color,NaN,65.0,John Blanchard,0.0,Martin Short,770.0,Andrea Martin,179.0,...,176.0,NaN,Comedy,NaN,10,NaN,English,Canada,NaN,9.5
Dekalog,NaN,Color,TV-MA,55.0,NaN,NaN,Krystyna Janda,20.0,Olaf Lubaszenko,3.0,...,2.0,447093.0,Drama,53.0,12590,meaning of life|moral challenge|morality|searc...,Polish,Poland,NaN,9.1
The Godfather,1972.0,Color,R,175.0,Francis Ford Coppola,0.0,Al Pacino,14000.0,Marlon Brando,10000.0,...,3000.0,134821952.0,Crime|Drama,208.0,1155770,crime family|mafia|organized crime|patriarch|r...,English,USA,6000000.0,9.2
Kickboxer: Vengeance,2016.0,NaN,NaN,90.0,John Stockwell,134.0,Matthew Ziff,260000.0,T.J. Storm,454.0,...,354.0,NaN,Action,2.0,246,NaN,NaN,USA,17000000.0,9.1

### Exercise 3
<span  style="color:green; font-size:16px">Write a function that accepts a single parameter to find the number of movies for a given content rating. Use the function to find the number of movies for ratings 'R', 'PG-13', and 'PG'.</span>

In [30]:
def count_rating(rating):
    filt = movie['content_rating'] == rating
    count = len(movie[filt])
    return f'There are {count} movies rated {rating}'

In [31]:
count_rating('R')

'There are 2067 movies rated R'

In [32]:
count_rating('PG-13')

'There are 1411 movies rated PG-13'

In [33]:
count_rating('PG')

'There are 686 movies rated PG'

## 6. Boolean Selection Multiple Conditions

### Exercise 1
<span  style="color:green; font-size:16px">Select all movies from the 1970s.</span>

In [34]:
filt1 = movie['year'] >= 1970
filt2 = movie['year'] <= 1979
filt = filt1 & filt2
movie[filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
All That Jazz,1979.0,Color,R,123.0,Bob Fosse,189.0,Roy Scheider,813.0,Ben Vereen,388.0,...,87.0,NaN,Comedy|Drama|Music|Musical,84.0,19228,dancer|editing|stand up comedian|surgery|vomiting,English,USA,NaN,7.8
Superman,1978.0,Color,PG,188.0,Richard Donner,503.0,Marlon Brando,10000.0,Margot Kidder,593.0,...,467.0,134218018.0,Action|Adventure|Drama|Romance|Sci-Fi,169.0,126357,1970s|clark kent|planet|superhero|year 1978,English,USA,55000000.0,7.3
Solaris,1972.0,Black and White,PG,115.0,Andrei Tarkovsky,0.0,Donatas Banionis,29.0,Anatoliy Solonitsyn,29.0,...,12.0,NaN,Drama|Mystery|Sci-Fi,144.0,54057,hallucination|ocean|psychologist|scientist|spa...,Russian,Soviet Union,1000000.0,8.1

### Exercise 2
<span  style="color:green; font-size:16px">Select all movies from the 1970s that had IMDB scores greater than 8.</span>

In [35]:
filt1 = movie['year'] >= 1970
filt2 = movie['year'] <= 1979 
filt3 = movie['imdb_score'] > 8

filt = filt1 & filt2 & filt3
movie[filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Solaris,1972.0,Black and White,PG,115.0,Andrei Tarkovsky,0.0,Donatas Banionis,29.0,Anatoliy Solonitsyn,29.0,...,12.0,NaN,Drama|Mystery|Sci-Fi,144.0,54057,hallucination|ocean|psychologist|scientist|spa...,Russian,Soviet Union,1000000.0,8.1
Apocalypse Now,1979.0,Color,R,289.0,Francis Ford Coppola,0.0,Harrison Ford,11000.0,Marlon Brando,10000.0,...,3000.0,78800000.0,Drama|War,261.0,450676,army|green beret|insanity|jungle|vietnam,English,USA,31500000.0,8.5
The Deer Hunter,1978.0,Color,R,183.0,Michael Cimino,517.0,Robert De Niro,22000.0,Meryl Streep,11000.0,...,652.0,NaN,Drama|War,140.0,232577,escape|friend|party|pittsburgh steelers|vietnam,English,UK,15000000.0,8.2

### Exercise 3
<span  style="color:green; font-size:16px">Select movies that were rated either R, PG-13, or PG.</span>

In [36]:
filt = movie['content_rating'].isin(['R', 'PG-13', 'PG'])
movie[filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 4
<span  style="color:green; font-size:16px">Select movies that are either rated PG-13 or were made after 2010.</span>

In [37]:
filt1 = movie['content_rating'] == 'PG-13'
filt2 = movie['year'] > 2010
filt = filt1 | filt2

movie[filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 5
<span  style="color:green; font-size:16px">Find all the movies that have at least one of the three actors with more than 10,000 Facebook likes.</span>

In [38]:
filt1 = movie['actor1_fb'] > 10000
filt2 = movie['actor2_fb'] > 10000
filt3 = movie['actor3_fb'] > 10000
filt = filt1 | filt2 | filt3

movie[filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5

### Exercise 6
<span  style="color:green; font-size:16px">Reverse the condition from Exercise 4. In words, what have you selected?</span>

The following selects non-PG-13 movies made in the year 2010 or before.

In [39]:
filt1 = movie['content_rating'] == 'PG-13'
filt2 = movie['year'] > 2010
filt = filt1 | filt2

movie[~filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Harry Potter and the Half-Blood Prince,2009.0,Color,PG,153.0,David Yates,282.0,Alan Rickman,25000.0,Daniel Radcliffe,11000.0,...,10000.0,301956980.0,Adventure|Family|Fantasy|Mystery,375.0,321795,blood|book|love|potion|professor,English,UK,250000000.0,7.5

## 7. Boolean Selection More

In [40]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv')

### Exercise 1
<span  style="color:green; font-size:16px">Select the wind speed column a a Series and assign it to a variable. Are there any negative wind speeds?</span>

In [41]:
wind = bikes['wind_speed']
wind.head(3)

0    12.7
1     6.9
2    16.1
Name: wind_speed, dtype: float64

Yes, there is really strong negative wind! Or maybe its just bad data...

In [42]:
filt = wind < 0
wind[filt].head(3)

22990   -9999.0
27168   -9999.0
28368   -9999.0
Name: wind_speed, dtype: float64

### Exercise 2
<span  style="color:green; font-size:16px">Select all wind speed values between 12 and 16.</span>

In [43]:
filt = wind.between(12, 16)
wind[filt].head(3)

0    12.7
6    15.0
9    12.7
Name: wind_speed, dtype: float64

### Exercise 3
<span  style="color:green; font-size:16px">Select the events and gender columns for all trip durations longer than 1,000 seconds.</span>

In [44]:
filt = bikes['tripduration'] > 1000
cols = ['events', 'gender']
bikes.loc[filt, cols].head(3)

          events gender
2   mostlycloudy   Male
8         cloudy   Male
10  mostlycloudy   Male

### Exercise 4
<span  style="color:green; font-size:16px">Read in the movie dataset with the title as the index. We will use this DataFrame for the rest of the Exercises. Select all the movies such that the Facebook likes for actor 2 are greater than those for actor 1.</span>

In [45]:
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

There are none!

In [46]:
filt = movie['actor2_fb'] > movie['actor2_fb']
movie[filt]

Empty DataFrame
Columns: [year, color, content_rating, duration, director_name, director_fb, actor1, actor1_fb, actor2, actor2_fb, actor3, actor3_fb, gross, genres, num_reviews, num_voted_users, plot_keywords, language, country, budget, imdb_score]
Index: []

[0 rows x 21 columns]

### Exercise 5
<span  style="color:green; font-size:16px">Select the year, content rating, and IMDB score columns for movies from the year 2016 with IMDB score less than 4.</span>

In [47]:
filt1 = movie['year'] == 2016
filt2 = movie['imdb_score'] < 4
filt = filt1 & filt2
cols = ['year', 'content_rating', 'imdb_score']

movie.loc[filt, cols]

                         year content_rating  imdb_score
title
Fifty Shades of Black  2016.0              R         3.5
Cabin Fever            2016.0      Not Rated         3.7
God's Not Dead 2       2016.0             PG         3.4

### Exercise 6
<span  style="color:green; font-size:16px">Select all the movies that are missing values for content rating.</span>

In [48]:
filt = movie['content_rating'].isna()
movie[filt].head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
Godzilla Resurgence,2016.0,Color,NaN,120.0,Hideaki Anno,28.0,Mark Chinnery,544.0,Shin'ya Tsukamoto,106.0,...,12.0,NaN,Action|Adventure|Drama|Horror|Sci-Fi,1.0,374,blood|godzilla|monster|sequel,Japanese,Japan,NaN,8.2
Harry Potter and the Deathly Hallows: Part II,2011.0,Color,NaN,NaN,Matt Birch,0.0,Rupert Grint,10000.0,Dave Legeno,570.0,...,159.0,NaN,Action|Fantasy,1.0,381,NaN,English,UK,NaN,7.5

### Exercise 7
<span  style="color:green; font-size:16px">Select all the movies that are missing values for both the gross and budget columns. Return just those columns to verify that those values are indeed missing.</span>

In [49]:
filt = movie['gross'].isna() & movie['budget'].isna()
cols = ['gross', 'budget']
movie.loc[filt, cols].head(3)

                                            gross  budget
title
Star Wars: Episode VII - The Force Awakens    NaN     NaN
The Lovers                                    NaN     NaN
Godzilla Resurgence                           NaN     NaN

### Exercise 8
<span  style="color:green; font-size:16px">Write a function `find_missing` that has three parameters, `df`, `col1` and `col2` where `df` is a DataFrame and `col1` and `col2` are column names. This function should return all the rows of the DataFrame where `col1` and `col2` are missing. Only return the two columns as well. Answer Exercise 7 with this function.</span>

In [50]:
def find_missing(df, col1, col2):
    filt = df[col1].isna() & df[col2].isna()
    cols = [col1, col2]
    
    return df.loc[filt, cols]

In [51]:
movie_missing = find_missing(movie, 'gross', 'budget')
movie_missing.head(3)

                                            gross  budget
title
Star Wars: Episode VII - The Force Awakens    NaN     NaN
The Lovers                                    NaN     NaN
Godzilla Resurgence                           NaN     NaN

## 8. Miscellaneous Subset Selection

In [52]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv')

### Exercise 1
<span  style="color:green; font-size:16px">Use the `query` method to select trip durations between 5000 and 10000 when it was partlycloudly or mostlycloudly. Create a set to contain the possible events and assign it to a variable. Reference this variable within the query string. Then redo the operation again using boolean selection.</span>

In [53]:
event_types = {"partlycloudy", "mostlycloudy"}
bikes.query('5000 <= tripduration <= 10000 and events in @event_types').head(3)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
40,61401,Subscriber,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,41.867173,-87.625955,19.0,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,87.1,10.0,8.1,-9999.0,partlycloudy
77,87005,Subscriber,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,41.856594,-87.627542,15.0,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,82.9,10.0,5.8,-9999.0,mostlycloudy
3406,1715861,Subscriber,Male,2014-05-19 09:26:00,2014-05-19 10:50:00,5059,Franklin St & Lake St,41.885837,-87.635500,23.0,Michigan Ave & Pearson St,41.897660,-87.623510,23.0,64.0,10.0,13.8,-9999.0,mostlycloudy

In [54]:
filt1 = bikes['tripduration'].between(5000, 10000)
filt2 = bikes['events'].isin(event_types)
filt = filt1 & filt2
bikes[filt].head(3)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
40,61401,Subscriber,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,41.867173,-87.625955,19.0,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,87.1,10.0,8.1,-9999.0,partlycloudy
77,87005,Subscriber,Female,2013-07-21 11:35:00,2013-07-21 13:54:00,8299,State St & 19th St,41.856594,-87.627542,15.0,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,82.9,10.0,5.8,-9999.0,mostlycloudy
3406,1715861,Subscriber,Male,2014-05-19 09:26:00,2014-05-19 10:50:00,5059,Franklin St & Lake St,41.885837,-87.635500,23.0,Michigan Ave & Pearson St,41.897660,-87.623510,23.0,64.0,10.0,13.8,-9999.0,mostlycloudy